/* Utilizarás background images/gradient en, como mínimo, 2 de las páginas o secciones.

/*RESET*/

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
font-family: "Britannic Bold", sans-serif;
background: #000000;
font-size: 21px;
border-style:double;
border-color: #FFC107;
background: linear-gradient (right, #0fad17, #dd6541);
}

/*header*/
.encabezado {
background: #5D4037;
display: flex;               /* activa flexbox */
align-items: center;         /* alinea verticalmente al centro */
justify-content: center;     /* centra horizontalmente */
padding: 6%;
border-style:double;
border-color: #FFC107;
}

    /*titulo grande pagina*/
.h1 {
text-align: center;
align-content: center;
color: #FFC107;
font-size: 400%;
margin: 0;
}

.logo{
width: 20%;
height: 20%;
padding-right: 5%;
}

    /*redes sociales boton 1 con hover*/
.redsocial {
display: flex;
justify-content: flex-end; /* mueve todo a la derecha */
gap: 10px; /* separación entre botones */
padding-right: 5%;
}

.social1 {
text-align: right;
border-radius: 10px;
transition: 0.3s;
padding: 10px;
}
.social1:hover {
transform: scale(1.05); /* aumenta el tamaño al pasar el raton */
box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

/*main*/

    /*nav lista de navegacion*/
.ul {
text-align: center;  
}
.lista1 {
text-decoration: none; /* quita el subrayado */
padding-top: 3%;
font-size: 40px;
}
/*link sin visitar*/
.lista1:link {
color: #FFC107;
}
/*link visitado*/
.lista1:visited {
  color: #FFC107;
}
/* raton sobre link */
.lista1:hover {
  color: #ff8b07;
}
/* link selecionado */
.lista1:active {
  color: #FFC107;
}

.iconos {
  width: 5%;
}
.iconosbanderas {
  width: 2%
}
.iconos3 {
  width: 4%;
}
 /*section 1*/

    /*titulo secion1*/
.h2 {
text-align: left;
color: #FFC107;
font-size: 29px;
padding-top: 5%;
padding-bottom: 2%;
padding-left: 17%;
}
    /*parrafo secion 1*/
.article {
font-family: "Bahnschrif", sans-serif;
color: #ffffff;
text-align:left;
padding-left: 20%;
padding-right: 20%;
padding-bottom: 5%
}

/*video*/
.video {
display: flex;               /* activa flexbox */
justify-content: center;     /* centra horizontalmente */
align-items: center;         /* centra verticalmente si hay altura */
padding-bottom: 5%;
text-align: center;
}
.video iframe { 
width: 50%;                  /* ocupa el 80% del ancho del contenedor */
max-width: 100%;            /* no crece más de 800px */
aspect-ratio: 16 / 9;        /* mantiene proporción de video */
}

/*titulo cartas*/
.h3 {
text-align: center;
color: #FFC107;
padding-bottom: 2%;
font-size: 40px;
}

/*lista de cartas*/
.lista2 {
display: flex; 
justify-content: center; 
text-decoration: none; /* quita el subrayado */
font-size: 29px;
padding: 2%;
}
/*link sin visitar*/
.lista2:link {
color: #FFC107;
}
/*link visitado*/
.lista2:visited {
  color: #FFC107;
}
/* raton sobre link */
.lista2:hover {
  color: #ff8b07;
}
/* link selecionado */
.lista2:active {
  color: #FFC107;
}

/*lista de imagenes*/
.local {
align-items: center;
width:20%;
max-width: 40%;
padding-top: 4%;
padding-bottom: 6%;
}

/*pie de pagina*/
.footer {
text-align: center;
white-space: pre;
color: #FFC107;
background: #5D4037;
padding: 3%;
border-style:double;
border-color: #FFC107;
}