

/*RESETRESETRESETRESETRESETRESETRESETRESETRESETRESETRESETRESETRESETRESETRESETRESETRESETRESET

•	Los elementos de tu web se visualizarán correctamente: no habrá superposición 
(separa-ción mínima entre elementos de 8px), la separación de los elementos con el borde 
de la página será de mínimo 16px y los botones tendrán un tamaño adecuado (mínimo 48px x 48px).  

•	Utilizarás pseudo-classes como hover y focus para mejorar la accesibilidad
•	Utilizarás background images/gradient en, como mínimo, 2 de las páginas o secciones.

•	Modifica tu web para que sea responsive usando grid-view y media queries.
•	Usa medidas relativas como (%, vw, vh, em…)
•	Incluir un contenedor de tipo flex o de tipo grid
*/


body {
font-family: "Britannic Bold", sans-serif;
background: #795548;
font-size: 21px;
}

/*header*/

    /*titulo grande pagina*/
.h1 {
text-align: center;
align-content: center;
color: #FFC107;
font-size: 100px;
}

.logo{
align-items: left; border: 20px;
}

    /*redes sociales boton 1*/
.social1 {
text-align: right;
border-radius: 10px;
transition: 0.3s;
}
.social1:hover {
transform: scale(1.05);
box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
   /*redes sociales boton 2*/
.social2 {
text-align: right;
border-radius: 10px;
transition: 0.3s;
}
.social2:hover {
transform: scale(1.05);
box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

/*main*/

    /*nav lista de navegacion*/
.lista1 {
text-align: center;
}

 /*section 1*/

    /*titulo secion1*/
.h2 {
text-align: left;
color: #FFC107;
font-size: 29px;
}
    /*parrafo secion 1*/
.article {
font-family: "Bahnschrif", sans-serif;
text-align:left;
border-left: 20px;
}

/*video*/
.video {
text-align: center;
}

/*titulo cartas*/
.h3 {
text-align: center;
color: #FFC107;
font-size: 24px;
}

/*lista de cartas*/
.lista2 {
text-align: center;
}

/*lista de imagenes*/
.lista3 {
text-align: center;
}

/*pie de pagina*/
.footer {
text-align: center;
}